<% @posts.reverse.each do |post| %>
	<% @userid = post.user_id %>
	<% @user = User.find(@userid) %>
	<%= link_to "@#{@user.username}", user_path(@user.id) %>
	<br>
	<span class="posttitle"><%= link_to post.title, user_post_path(@user.id, post.id) %></span>
	<br>
	<%= post.body %>
	<br>
	<span class="posttime"><%= post.created_at %></span>
	<br><br><hr><br>
<% end %>